<?xml version="1.0"?>
<robot name="gopigo3">
  <ros2_control name="gpg_remote" type="system">
    <hardware>
      <plugin>gpg_remote/GPGRemoteHardware</plugin>
      <param name="host">localhost</param>
      <param name="port">8002</param>
    </hardware>
    
    <joint name="left_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>  
    </joint>
    <joint name="right_wheel">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>  
    </joint>
    <joint name="servo">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <sensor name="line">
       <state_interface name="level0"/>
       <state_interface name="level1"/>
       <state_interface name="level2"/>
       <state_interface name="level3"/>
       <state_interface name="level4"/>
    </sensor>
    <sensor name="battery">
       <state_interface name="voltage"/>
    </sensor>
  </ros2_control>
</robot>
